.carrossel {
    padding-bottom: 80px;
}


.carrossel-header {

    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.carrossel-titulo {

    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    
  }
  
  .all {
    
    color: #ffffff;
    font-size: 20px;

}
  


@media only screen and (max-width: 1160px) {
   
    .carrossel-header {

        padding-left: 20px;
        padding-right: 20px;
    }

  }