.carrossel {
    padding-bottom: 80px;
}


.carrossel-header {

    margin: 0 auto;
    max-width: 1160px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.carrossel-titulo {

    font-size: 32px;
    font-weight: 500;

}

.all {

    font-size: 20px;

}

.fotos {

    width: 1920px;
    height: 215px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
}



@media only screen and (max-width: 1160px) {
   
    .carrossel-header {

        padding-left: 20px;
        padding-right: 20px;
    }

  }
