


.principal {
    margin-top: 80px;
}

/* background: #; 6eb7ae */
.menu-bg {

    background-color: var(--principal);
    width: 100%;
    

}

.img {
    height: 34px;
    width: 34px;
}

.menu {

    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1160px;
    width: 100%;
    height: 110px;
    /*justify-content: flex-end;*/
    justify-content: center;
    position: relative;
    
}

#titulo {
    font-size: 36px;
    color: white;
    font-weight:700;
}

.hamb-img {
    
    right: 10px;
    height: 30px;
    width: 30px;
    /* //margin-left: 455px; */
    position: absolute;

}


.mygallery{
    align-items: center;
    display: flex;
    
}

@media only screen and (max-width: 600px) {
    #titulo {
      
        font-size: 24px;
        align-items: center;
    }

    .mygallery {
        left: 20px;
        position: absolute;
    }

    .menu {
        height: 75px;
    }

    .img {
        height: 25px;
        width: 25px;
    }

    .hamb-img {

        right: 10px;
        color: 929292; 
        height: 25px;
        width: 25px;
    }

  }